body {
  background-color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.title {
  color: black
}

.enter-button {
  margin-top: 80px;
  background-color: #E80909;
  border: none;
  padding: 8px;
  width: 8vw;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.enter-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(178, 31, 31, 0.6);
    background: linear-gradient(90deg, #243b7a, #c42c2c);
}

.enter-button:active {
    transform: translateY(1px);
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out; /* Define a duração e a suavidade da animação */
}