.editor-container {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 40px auto;
}

.pastas-selecao, .documentos-selecao {
    padding-top: 20px;
}

.pastas-lista, .documentos-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.pasta-item, .documento-item button {
    padding: 10px 20px;
    background-color: #F52727;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pasta-item:hover, .documento-item button:hover {
    background-color: #d11c1c;
}

.documento-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    width: 250px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}