.navbar {
  width: 100%;
  background-color: #f8f9fa;
  border-bottom: 1px solid #e9ecef;
  padding: 10px 0;
}

.nav-item-container {
  display: flex;
  justify-content: center;
}

.nav-item {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  color: #495057;
  font-weight: 500;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

.nav-item:hover {
  color: #F52727;
}

.nav-item.active {
  color: #F52727;
  font-weight: bold;
  border-bottom: 2px solid #F52727;
}